<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.codefest.client.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <!-- for getting data from codefest.ru and get twitter feed -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for cache images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CodeFestApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.CodeFestActivity"
            android:theme="@style/TabsStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.CodeFestProvider"
            android:authorities="ru.codefest.provider.data"
            android:exported="false" />

        <service android:name=".service.CodeFestService" />
    </application>

</manifest>